@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Laila&family=Merriweather:ital,wght@1,300&display=swap');


:root{
    --black: #000;
    --white : #FFF;
    --green : #3B876C;
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
*{
    font-family: 'Quicksand', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    font-size: 62.5%;   
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

/**** Header starts here ****/

.header{
    top: 0;right: 0;left: 0;
    background-color: var(--white);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    box-shadow: 0 0 2px #ccc;
    position: fixed;
    z-index: 999;
}

.main {
    display: flex;
    position: absolute;
    left: 5px;
    align-items: center;
}
#menu-icon {
    font-size: 35px;
    color: var(--black);
    cursor: pointer;
    z-index: 1;
    display: none;
} 
#menu-icon2 {
    position: absolute;
    left: 5px;
    font-size: 32px;
    color: var(--white);
    cursor: pointer;
    z-index: 10001;
    transform: rotate(-45deg);
    display: none;
} 

.header .primaryHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
}

.header .navbar {
    padding: 0 10px 0 100px;
    float: left;
}
.header hr {
    width: 100%;
    display: none;
}

.logo2, .langCh {
    display: none;
}
.header .navbar a{
    font-size: 1.5rem;
    margin-right: 3rem;
    color: var(--black);
    font-weight: bold;
}
.header .navbar a:hover{
    border-bottom: .3rem solid var(--green);
    padding-bottom: .4rem;
    transition: ease-in 0.2s;
}
.followusbox2, .followus2 {
    display: none;
} 

.headerInfo {
    float: right;
    display: flex;
}

.searchWrap {
    position: relative;
    left: auto;
    top: auto;
    float: left;
    width: 356px;
    margin-right: 22px;
    padding: 10px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    padding-right: 5px;
    border: 1px solid var(--black);
    height: 100%;
}

.searchbar input {
    background: transparent;
    flex: 1;
    border: 0;
    font-size: 15px;
    height: 100%;
    padding-left: 10px;
}

::placeholder {
    padding-left: 15px;
}

.searchbar button img {
    width: 25px;
}

.searchbar button {
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: var(--white);
    cursor: pointer;
}

.searchbar button:hover {
    background: var(--green);
}

.searchWrap a {
    color: #808080;
    background: transparent;
}

.searchWrap a i {
    vertical-align: middle;
}

.langChange {
    margin-left: 0;
    padding-left: 0;
    float: left;
    position: relative;
    padding: 23px 22px 22px;
    border-left: 1px solid #d7d7d7;
    margin-top: 0;
}

.langChange>a {
    font-size: 16px;
    color: var(--green);
    font-family: 'Quicksand', 'sans-serif';
}

.langChange>a i {
    vertical-align: middle;
    color: #808080;
    font-size: 18px;
}

.langList {
    position: absolute;
    top: 70px;
    left: -4px;
    width: 100px;
    color: var(--black);
    background: var(--white);
    box-shadow: none;
    border-radius: 2px;
    padding: 5px;
    display: none;
    overflow: hidden;
    transition: max-height 0.5s;
}

.langChange:hover .langList {
    display: block;
}

li {
    display: block;
}

.langList .activeLang {
    background: var(--green);
    color: #fff;
    text-align: center;
}

.langList a {
    display: block;
    font-size: 16px;
    color: var(--black);
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    padding: 10px 14px;
    text-align: center;
}

.langList li:nth-child(2):hover,.langList li:nth-child(3):hover {
    background-color: #d6cfcf;
}

a {
    text-decoration: none;
}

.userLogin {
    position: relative;
    left: auto;
    top: auto;
    float: left;
    width: auto;
    vertical-align: middle;
}

.userLogin>a:hover{
    color: #fff;
    transition: 0ms;
}

.userLogedOut:hover{
    background-color: var(--green);
}

.userLogin .userLogedOut {
    top: auto;
    line-height: 69px;
    display: block;
    padding: 0 22px;
    border-left: 1px solid #f4f4f4;
    text-transform: uppercase;
    position: relative;
    font-size: 16px;
    color: #000;
    font-family: 'Quicksand', sans-serif;
}

.rt_AppBtn2 {
    display: none;
}

.rt_AppBtn {
    float: left;
    position: relative;
    vertical-align: middle;
    margin-left: 5px;
    top: auto;
}

.rt_AppBtn a {
    font-size: 12px;
    padding: 8px 8px 8px 24px;
    border: 1px solid var(--green);
    border-radius: 4px;
    display: inline-block;
    background-color: var(--green);
    color: #fff;
    display: block;
    margin-right: 18px;
    font-family: 'LatoXBold';
}

.rt_AppBtn a svg {
    position: absolute;
    font-size: 20px;
    left: 8px;
    top: 12px;
}

/**** header ends here ****/



/**** mainslder starts here ****/

.mainslider {
    margin: 52px auto;
    width: 100%;
}


.mainslider button .carousel-control-prev-icon, .carousel-control-next-icon{
    width: 40px;
    height: 40px;
    background-color: #708b82;
    border-radius: 50%;
}
   
.mainslider button .carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
    background-color: var(--green);
}

/**** main slider ends here ****/


/**** Top 5 starts here ****/

.paddingBT {
    padding-top: 40px;
    padding-bottom: 40px;
}

.topFiveSection {
    position: relative;
    background: #fff;
    z-index: 1;
}

.tfContainer {
    width: 100%;
    max-width: 1200px;
    padding: 0 16px;
    margin: auto;
    box-sizing: border-box;
}

.sherContainer {
    text-align: center;
    border-radius: 5px;
}

.smallHeading {
    font-size: 16px;
    color: #4c4c4c;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 42px;
    line-height: 1;
}


.carousel {
    margin-top: 20px;
    width: 100%;
    z-index: 1;
}

.sherContainer .carousel-item {
    transition: 2s;
}

.carousel-item p {
    font-size: 16px;
    line-height: 1.5;
    color: var(--black);
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    letter-spacing: .25px;
    vertical-align: baseline;
    text-justify: auto;
    width: 95%;
}

.carousel-item p span {
    font-size: 24px;
    line-height: 2;
    display: inline-block;
    padding: 0 0 0 4px;
    cursor: pointer;
    border-radius: 3px;
    white-space: pre;
    font-family: 'Laila', sans-serif;
}

.carousel-item .poetname {
    margin-top: 6px;
    margin-bottom: 50px;
    font-size: 14px;
    font-family: 'Aboreto','cursive';
    display: inline-block;
    cursor: pointer;
}

.poetname a {
    color: var(--green);
    cursor: pointer;
    font-family: 'merriweatherheavy','NotoDevanagari','NotoNastaliqUrdu';
    text-transform: uppercase;
}

.poetname a:hover {
    text-decoration: underline;
}

.sherContainer button .carousel-control-prev-icon, .carousel-control-next-icon{
    width: 40px;
    height: 40px;
    background-color: #708b82;
    border-radius: 50%;
}
   
.sherContainer button .carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
    background-color: var(--green);
}

 
/**** Top 5 ends here ****/

/**** DidYouKnow starts here ****/

.didyouknow {
    position: relative;
    background: #fff;
    z-index: 1;
}

.dykContainer {
    width: 100%;
    max-width: 1200px;
    padding: 0 16px;
    margin: auto;
    box-sizing: border-box;
}

.dykbox {
    text-align: center;
    align-items: center;
}

.bgcolor {
    background: var(--green);
    height: 450px;
    border-radius: 8px;
    padding: 36px 60px;
}

.bgcolor h2 {
    color: var(--white);
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.bgcolor .dyk-img-box {
    justify-content: center;
    align-items: center;
}

.bgcolor .dyk-img-box img {
    width: 124px;
    height: 124px;
    margin: auto;
    border-radius: 50%;
}

.bgcolor .p-box {
    margin: 25px 4px;
}

.bgcolor .p-box p {
    color: var(--black);
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    margin: 25px 0 0 0;
    font-weight: bold;
}

.dykbox .carousel-item {
    transition: 1s;
    transition-delay: 2s;
}


/**** DidYouKnow ends here ****/


/**** AppSection starts here ****/

.appcontainer {
    width: 100%;
    max-width: 1200px;
    padding: 0 16px;
    margin: auto;
    box-sizing: border-box;
}

.appbox {
    padding: 24px 52px;
    margin-top: 80px;
    margin-bottom: 42px;
    background-color: #fff;
    box-shadow: 0 6px 8px rgba(154, 218, 202, 0.692);
    border: 1.5px solid var(--green);
    text-align: left;
    max-width: 1097px;
    height: 160px;
    margin: auto;
    position: relative;
    border-radius: 10px;
    direction: ltr;
    background-image: url(image/AppCircle.png);
    background-repeat: no-repeat;
}


.AppLogo {
    width: 140px;
    position: relative;
    z-index: 1;
    margin-left: -4px;
}

.appbox p {
    font-size: 20px;
    margin: 16px 0 0 5px;
    width: auto;
    position: relative;
    z-index: 1;
    line-height: 14px;
}

.appIcons {
    margin-top: 20px;
    margin-left: 7px;
}

.appIcons a {
    color: var(--green);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 0 -4px;
}

.appIcons a:last-child {
    margin: 0 0 0 30px;
}

.appIcons a img {
    margin: 0 4px 0 0;
    width: 25px;
    height: 25px;
}

.appStrpImg {
    max-width: 323px;
    display: block;
    bottom: 10px;
}

.appBgImg {
    position: absolute;
    width: 200px;
    height: 200px;
    float: right;
    right: 30px;
}

/**** AppSection ends here ****/


/**** E-bookSection starts here ****/

.e-books {
    position: relative;
    background: #fff;
    z-index: 1;
}

.e-booksContainer {
    width: 100%;
    max-width: 1200px;
    padding: 0 16px;
    margin: auto;
    box-sizing: border-box;
}

.outerbox {
    text-align: center;
    border-radius: 5px;
}

.smallheading {
    font-size: 16px;
    color: #4c4c4c;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 42px;
    line-height: 1;
}

.innerbox {
    width: 100%;
}

.book {
    display: inline-block;
    margin: 0 10px;
    width: 200px;
    text-align: left;
}

.book img {
    width: 200px;
    height: 320px;
    border-radius: 10px;
    border: 1px solid var(--green);
    cursor: pointer;
}

.book h3 {
    margin: 10px 0 5px 0;
}

.book p {
    font-size: 14px;
}

.outerbox a {
    color: var(--green);
    font-size: 14px;
    cursor: pointer;
    font-family: 'merriweatherheavy','NotoDevanagari','NotoNastaliqUrdu';
    text-transform: uppercase;
    margin-top: 20px;
}

.outerbox a:hover {
    text-decoration: underline;
}
/**** E-bookSection ends here ****/



/**** edit's choice starts here ****/

.editorschoice {
    position: relative;
    background: #fff;
    z-index: 1;
}

.ecContainer {
    width: 100%;
    max-width: 1200px;
    padding: 0 16px;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
}

.smallHeading {
    font-size: 16px;
    color: #4c4c4c;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 42px;
    line-height: 1;
}

.ecBox {
    align-items: center;
    text-align: center;
}

.img-box {
    justify-content: center;
    align-items: center;
}

.ecBox img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid var(--green);
}

.ecBox a {
    font-size: 18px;
    font-weight: bold;
    color: var(--green);
    text-decoration: none;
    margin-bottom: 5px;
}

.ecBox p {
    font-size: 12px;
}

.ecSher {
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

.ecSher p {
    font-size: 16px;
    line-height: 1.5;
    color: var(--black);
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    letter-spacing: .25px;
    vertical-align: baseline;
    text-justify: auto;
    width: 95%;
}

.ecSher p span {
    font-size: 24px;
    line-height: 2;
    display: inline-block;
    padding: 0 0 0 4px;
    cursor: pointer;
    border-radius: 3px;
    white-space: pre;
    font-family: 'Laila', sans-serif;
}

.ecSher a {
    color: var(--green);
    font-size: 14px;
    cursor: pointer;
    font-family: 'merriweatherheavy','NotoDevanagari','NotoNastaliqUrdu';
    text-transform: uppercase;
    margin-top: 20px;
}

.ecSher a:hover {
    text-decoration: underline;
}


/**** edit's choice ends here ****/



/**** footer starts here ****/

.footer {
    background-color: #88b9a8;
    position: relative;
    z-index: 1;
    padding-bottom: 0;
}

.contactSocial {
    width: 100%;
    max-width: 1200px;
    padding: 0 16px;
    margin: auto;
    box-sizing: border-box;
    display: flex;
}

.quicklinks {
    flex-basis: 40%;
    text-align: left;
    align-items: center;
}

.quicklinks a {
    display: block;
    text-align: left;
    font-size: 1.6rem;
    color: var(--white);
    padding: 1rem 0;
}

.quicklinks a:hover {
    text-decoration: underline;
}

.quicklinks a i {
    padding-right: .5rem;
}

.contactform {
    flex-basis: 60%;
}

.contactform form {
    width: 100%;
}

.contactform form input, form textarea{
	width: 100%;
	border: 0;
	outline: none;
	background: var(--white);
	padding: 15px;
	margin: 15px 0;
	color:var(--green);
	font-size: 18px;
	border-radius: 6px;
}

.btnField {
    text-align: right;
    position: relative;
    margin-bottom: 15px;
}

.submitFormBtn {
    max-width: 206px;
    margin-top: 10px;
    font-size: 14px;
    color: #fff;
    font-family: 'LatoXRegular','NotoDevanagariRegular','MehrNastaliqRegular';
    line-height: 46px;
    width: 100%;
    margin: 0 auto;
    background: var(--green);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 3px;
}

.submitFormBtn:hover {
    color: #fff;
}

.btnField img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.connectbox {
    width: 100%;
    background: #54a78a;
    padding-top: 20px;
}

.followusbox {
    width: 100%;
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
}

.followus, .downloads {
    flex-basis: 50%;
    padding-bottom: 5px;
}

.followus a {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 2rem;
    color: var(--white);
    background: var(--black);
    margin: 0 .3rem;
    border-radius: 50%;
    text-align: center;
}

.followusbox .followus a:nth-of-type(1):hover {
    background: #4267B2;
    color: var(--black);
}

.followusbox .followus a:nth-of-type(2):hover {
    background: #00acee;
    color: var(--black);
}

.followusbox .followus a:nth-of-type(3):hover {
    background: #FF0000;
    color: var(--black);
}

.followusbox .followus a:nth-of-type(4):hover {
    background: #cd62db;
    color: var(--black);
}

.followusbox .followus a:last-child:hover {
    background: #c8232c;
    color: var(--black);
}

.downloads .smallheading {
    margin-bottom: 20px;
}

.downloads a img {
    height: 70px;
}

.footerSecondaryNav {
    margin-bottom: 0;
    background: var(--green);
}

.fsnContainer {
    width: 100%;
    max-width: 1200px;
    padding: 5px 16px;
    margin: auto;
    box-sizing: border-box;
    display: flex;
}

.ptcBox, p {
    flex-basis: 50%;
    margin: auto;
}

.ptcBox {
    text-align: left;
}

.ptcBox a {
    text-decoration: none;
    color: #000;
    word-spacing: 3px;
    padding-left: 15px;
    font-size: 13px;
}

.ptcBox a:hover{
    text-decoration: underline;
}

.fsnContainer p {
    text-align: right;
    color: #000;
    word-spacing: 3px;
    font-size: 13px;
}

/**** footer ends here ****/



/********** Large devices only **********/

@media (min-width: 1600px) and (max-width: 1740px) {
    .header .navbar {
        padding: 0 10px 0 10px;
    }
    .header .navbar a{
        font-size: 1.5rem;
        margin-right: 2rem;
    } 
    .header .navbar a:nth-child(8), .header .navbar a:last-child {
        display: none;
    }
    .searchWrap {
        width: 400px;
    }
    .userLogin {
        cursor: pointer;
    }
    .dykContainer {
        max-width: 900px;
    }
}
@media (min-width: 1400px) and (max-width: 1599px) {
    .header .navbar {
        padding: 0 10px 0 10px;
    }
    .header .navbar a{
        font-size: 1.5rem;
        margin-right: 2rem;
    } 
    .header .navbar a:nth-child(7),.header .navbar a:nth-child(8), .header .navbar a:last-child {
        display: none;
    }
    .searchWrap {
        width: 400px;
    }
    .userLogin {
        cursor: pointer;
    }
    .dykContainer {
        max-width: 900px;
    }
}
@media (min-width: 1200px) and (max-width: 1399px) {
    .header .navbar {
        padding: 0 10px 0 10px;
    }
    .header .navbar a{
        font-size: 1.5rem;
        margin-right: 5px;
    } 
    .header .navbar a:nth-child(6),.header .navbar a:nth-child(7),
    .header .navbar a:nth-child(8), .header .navbar a:last-child {
        display: none;
    }
    .searchWrap {
        width: 360px;
    }
    .userLogin {
        cursor: pointer;
    }
    .dykContainer {
        max-width: 900px;
    }
}
@media (min-width: 1060px) and (max-width: 1199px) {
    .header .navbar {
        padding: 0 10px 0 10px;
    }
    .header .navbar a{
        font-size: 1.5rem;
        margin-right: 2rem;
    } 
    .header .navbar a:nth-child(4), .header .navbar a:nth-child(5),
    .header .navbar a:nth-child(6),.header .navbar a:nth-child(7),
    .header .navbar a:nth-child(8), .header .navbar a:last-child {
        display: none;
    }
    .searchWrap {
        width: 250px;
    }
    .userLogin {
        cursor: pointer;
    }
    .dykContainer {
        max-width: 900px;
    }
    .appcontainer {
        max-width: 850px;
    }
    .appbox p {
        font-size: 18px;
        width: 70%;
    }
    .e-booksContainer {
        max-width: 1000px;
    }
    .book {
        width: 170px;
    }
    .book img {
        width: 170px;
    }
    .ecBox img {
        height: 180px;
        width: 180px;
    }

}

   /********** Medium devices only **********/
@media (max-width: 1059px){
    .primaryHeader {
        margin-left: 15px;
    }
    .primaryHeader img {
        width: 125px;
        height: 30px;
    }
    #menu-icon, #menu-icon2 {
        display: block;
    }
    .header .navbox {
        position: absolute;
        left: -100%;
        top: 0;
        width: 100%;
        height: 100vh;
        background: var(--green);
        padding: 22px 16px;
        z-index: 1;
        transition: left 0.5s;
    }

    
    .header .navbox .logo2 {
        display: block;
        border-bottom: 0.2px solid gray;
        height: 50px;
    }
    .header .navbox .logo2 img {
        padding-left: 43%;
        height: 45px;
    }
    
    .header .navbox .langCh {
        display: block;
        margin: 30px 0;
        height: 65px;
        border-bottom: 0.2px solid gray;
    }
    .header .navbox .langCh ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 45px;
        width: 50%;
        margin: 0 auto;
    }
    .header .navbox .langCh ul a {
        text-decoration: none;
        margin-left: 10px;
        width: 100px;
    }
    .header .navbox .langCh ul li {
        color: var(--white);
        width: 100px;
        height: 40px;
        border: 2px solid var(--white);
        border-radius: 3px;
        margin-left: 10px;
        word-spacing: 5px;
        text-align: center;
        justify-content: center;
        font-size: 20px;
    }
    .langCh .activeLang {
        background: rgb(8, 177, 8);
        color: #fff;
        text-align: center;
    }

    .rt_AppBtn2 {
        display: block;
        margin-left: 5px;
        top: auto;
    }
    
    .rt_AppBtn2 a {
        font-size: 18px;
        padding: 4px 4px;
        border: 1px  solid var(--white);
        border-radius: 4px;
        display: flex;
        background-color: var(--green);
        color: #fff;
        margin-right: auto;
        margin-left: auto;
        font-family: 'LatoXBold';
        justify-content: center;
    }
    .rt_AppBtn2 a:hover {
        border: 1px  solid grey;
        background-color: var(--white);
        color: var(--green);
    }

    .header .navbox .navbar {
        margin-left: 0;
        margin-top: 10px;
        padding-left: 10px;
        text-align: center;
        height: 60%;
        width: 50%;  
    }
    .header .navbox .navbar a {
        display: flex;
        font-size: 18px;
        width: 100%;
        margin-left: 5px;
        float: left;
        color: var(--white);
        border-bottom: 0.2px solid grey;
    }
    
    .navbox .followusbox2 {
        position: absolute;
        display: block;
        bottom: 0;
        left: 16px;
        right: 16px;
        width: 1059;
        height: 50px;
        background-color: transparent;
        border-top: 0.2px solid grey;
        align-items: center;
        justify-content: center;
    }

    .navbox .followusbox2 .followus2 {
        display: block;
        margin-right: auto;
        margin-left: auto;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    .navbox .followusbox2 .followus2 a {
        height: 4rem;
        width: 4rem;
        line-height: 4rem;
        font-size: 2rem;
        color: var(--black);
        background: var(--white);
        margin: 5px .3rem;
        border-radius: 50%;
        text-align: center;
    }
    .navbox .followusbox2 .followus2 a:nth-of-type(1) {
        margin-left: 40%;
    }
    
    .navbox .followusbox2 .followus2 a:nth-of-type(1):hover {
        background: #4267B2;
        color: var(--white);
    }
    
    .navbox .followusbox2 .followus2 a:nth-of-type(2):hover {
        background: #00acee;
        color: var(--white);
    }
    
    .navbox .followusbox2 .followus2 a:nth-of-type(3):hover {
        background: #FF0000;
        color: var(--white);
    }
    
    .navbox .followusbox2 .followus2 a:nth-of-type(4):hover {
        background: #cd62db;
        color: var(--white);
    }
    
    .navbox .followusbox2 .followus2 a:last-child:hover {
        background: #c8232c;
        color: var(--white);
    }

    
    .searchWrap {
        width: 210;
    }
    .userLogin {
        display: none;
    }
    .langChange {
        display: none;
    }
    
}

@media (min-width: 992px) and (max-width: 1059px) {
    
    .dykContainer {
        max-width: 850px;
    }
    .bgcolor {
        height: 450px;
        padding: 35px;
    }
    
    .bgcolor p {
        font-size: 12px;
    }
    
    .appcontainer {
        max-width: 850px;
    }
    .appbox p {
        font-size: 16px;
        width: 70%;
    }
    .e-booksContainer {
        max-width: 1000px;
    }
    .book {
        width: 160px;
    }
    .book img {
        width: 160px;
    }
    .ecBox img {
        height: 180px;
        width: 180px;
    }
    
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    .dykContainer {
        max-width: 750px;
    }
    .bgcolor p {
        font-size: 11px;
        margin-left: auto;
        margin-right: auto;
    }
    .appcontainer {
        max-width: 850px;
    }
    .appbox p {
        font-size: 16px;
        width: 70%;
    }
    .appIcons {
        margin-top: 12px;
    }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
    .dykContainer {
        max-width: 700px;
    }
    .bgcolor p {
        font-size: 11px;
        margin-left: auto;
        margin-right: auto;
    }
    .appcontainer {
        max-width: 800px;
    }
    .appbox p {
        font-size: 14px;
        width: 70%;
    }
    .appIcons {
        margin-top: 12px;
    }
    .appBgImg {
        position: absolute;
        width: 200px;
        height: 200px;
        float: right;
        right: 0px;
    }
    .smallheading , .smallHeading{
            font-size: 14px;
            color: #4c4c4c;
            font-weight: bold;
            letter-spacing: 5px;
            text-transform: uppercase;
            margin-bottom: 42px;
            line-height: 1;
    }
    .footer .downloads a img {
        height: 50px;
        width: 150;
    }
   
}

@media (min-width: 480px) and (max-width: 696px) {
    .header {
        height: 42px;
        width: 100vw;
    }
    .mainslider {
        margin: 40px auto 45px auto;
        width: 100%;
    }
    .searchWrap {
        display: none;
    }
    .ecSher {
        text-align: center;
    }
    .ecSher p {
        font-size: 14px;
        line-height: 1.5;
        color: var(--black);
        margin-left: 0;
        margin-right: 0;
        white-space: nowrap;
        letter-spacing: .25px;
        vertical-align: baseline;
        text-justify: auto;
        width: 75%;
    }
    .ecSher p span {
        font-size: 14px;
        line-height: 2;
        display: inline-block;
        padding: 0 0 0 4px;
        cursor: pointer;
        border-radius: 3px;
        white-space: pre;
        font-family: 'Laila', sans-serif;
    }
}
/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
    .primaryHeader {
        margin-left: 25px;
    }
    .header {
        width: 100vw;
    }
    .header .primaryHeader {
        padding-left: 5px;
    }
    .primaryHeader img {
        width: 120px;
    }
    .searchWrap {
        display: none;
    }
    .rt_AppBtn {
        height: 30px;
        margin: 2px 0;
    }
    .rt_AppBtn a {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .rt_AppBtn a svg {
        position: absolute;
        font-size: 20px;
        left: 8px;
        top: 10px;
    }
    .mainslider {
        margin: 34px auto 45px auto;
        width: 100%;
    }
    .smallHeading, .smallheading {
        font-size: 12px;
        line-height: 15px;
    }
    .carousel-item p {
        font-size: 14px;
        width: 85%;
    }
    .carousel-item p span {
        font-size: 14px;
        padding: 0 0 0 2px;
    }
    .carousel-inner .carousel-item:nth-child(3) p{
        font-size: 12px;
        letter-spacing: .10;
        margin: 2px;
    }
    .carousel-inner .carousel-item:nth-child(3) p:nth-child(2) {
        margin-left: 10px;
    }
    button.carousel-control-next, button.carousel-control-prev {
        display: none;
    }
    .didyouknow {
        padding-top: 20px;
    }
    .bgcolor {
        padding: 10px;
        height: 330px;
    }
    .bgcolor .p-box {
        margin: 20px 4px 4px;
        width: 100%;
        height: 120px;
        justify-content: center;
        align-items: center;
    }
    .bgcolor .p-box p {
        margin-top: 0;
        margin-bottom: 0;
        width: 98%;
        height: 120px;
        overflow-x: scroll;
    }
    .appbox {
        padding: 0;
    }
    .AppLogo {
        margin-top: 7px;
    }
    .appbox p {
        font-size: 13px;
        font-weight: bold;
        width: 70%;
        margin-top: 15px;
    }
    .appIcons {
        margin-top: 10px;
    }
    .appcontainer {
        padding: 0 8px;
    }
    .appcontainer a {
        display: inline-block;
        margin-top: 18px;
        font-size: 12px;
    }
    .appcontainer a:nth-child(2) {
        margin-left: 6px;
    } 
    .appBgImg {
        position: absolute;
        width: 150px;
        height: 150px;
        float: right;
        bottom: 55px;
        right: -6px;
    }
    .innerbox {
        height: 403px;
        margin-bottom: 10px;
        overflow-y: scroll;
    }
    .book {
        width: 100px;
        height: 130px;
    }
    .book img {
        width: 100px;
        height: 130px;
    }

    .ecContainer {
        padding: 0 8px;
    }
    .ecBox img {
        height: 150px;
        width: 150px;
    }

    .ecSher p {
        font-size: 15px;
        width: 100%;
    }
    .ecSher p span {
        font-size: 12px;
    }
    .ecSher a {
        margin-top: 8px;
        font-size: 13px;
    }
    .contactSocial {
        display: block;
    }

    .quicklinks .smallheading, .contactform .smallheading{
        margin-bottom: 35px;
        margin-top: 5px;
    }

    .followus a {
        width: 35px;
        height: 35px;
        align-items: center;
        margin-bottom: 8px;
    }

    .downloads img {
        width: 110px;
    }

    .fsnContainer .ptcBox a {
        font-size: 12px;
    }

    .navbox .logo2 img {
        padding-left: 80px;
        padding-right: 80px;
    }

    .navbox .langCh ul {
        padding-right: 20px;
    }

    .navbox .followus2 {
        padding-left: auto;
        padding-right: auto;
    }

    .navbox .followus2 a:nth-child(1){
        margin-left: 20px;
    }
}






















